config ZMK_TEMPLATE_FEATURE
    bool "Enable template feature"

if ZMK_TEMPLATE_FEATURE

config ZMK_TEMPLATE_FEATURE_STUDIO_RPC
    bool "Enable template feature custom Studio RPC"
    depends on ZMK_STUDIO

config ZMK_BEHAVIOR_RUNTIME_SENSOR_ROTATE
    bool "Enable runtime configurable sensor rotate behavior"
    default y
    depends on ZMK_TEMPLATE_FEATURE_STUDIO_RPC
    help
      Enable runtime configurable sensor rotate behavior that can be
      configured via ZMK Studio RPC protocol.

endif
