config ZMK_RUNTIME_SENSOR_ROTATE
    bool "Enable runtime sensor rotate feature"

if ZMK_RUNTIME_SENSOR_ROTATE

config ZMK_RUNTIME_SENSOR_ROTATE_STUDIO_RPC
    bool "Enable runtime sensor rotate custom Studio RPC"
    default y
    depends on ZMK_STUDIO

endif
